# OS / Editor
.DS_Store
.vscode/
*.code-workspace

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
*.json

# Ignore Datasets
data/

# Ignore notebooks
notebooks/

# Ignore secrets
secrets/

# Ignore test
test/
pytest_cache/
pytest.ini
.pytest_cache/

# Ignore csv files
*.csv
*.xlsx

*.parquet
*.json

# Ignore logs
logs/

# Tokens
 airbytetoken_2026_02_05.txt

# bigquery credentials
 profiles.yml
 .user.yml

# dbt
target/
dbt_packages/
dbt_internal_packages/


# ignore dagster temp files
*.temp_dagster_home_*